<div class="container movie-info" style="margin-top: 2rem; height: 640px;">
    <form class="form-inline my-2 my-lg-0 btn-back" method="GET" action="/back" style="float: right;">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Back to Show List</button>
    </form>
    <h2>{{name}}</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="{{image.medium}}" alt="{{name}}">
        </div>
        <div class="col-md-8 movie-meta" style="float: right;">
            <span class="movie-duration">{{runtime}} Mins</span>
            <span class="movie-year">{{premiered}}</span>
            <span class="movie-lang">{{language}}</span>
            <p>Summary: </p>{{{summary}}}
            {{#genres}}
            <span class="genres">{{this}}</span>
            {{/genres}}
        </div>
        <span class="btn-watch">Available</span>
        {{#network}}
        <div class="btn-block">
            <p>Country: {{country.name}}</p>
            <p>TimeZone: {{country.timezone}}</p>
        </div>
        {{/network}}
    </div>
</div>